# macOS
.DS_Store
*.dSYM/

# C/C++ build artifacts
*.o
*.obj
*.out
*.exe
*.a
*.so
*.dll
*.dylib

# Common local build dirs
build/
dist/
bin/

# Project executables
print_even_indices
1-bank_account
2-vehicle
main
3-shape

a.out

# Tooling
compile_commands.json
